@media(min-width: 1024px) {
    .about-wrapper {
        height: 200vh;
    }

    .about-sticky {
        position: sticky;
        top: 0;
    }
}

.about {
    background-image: url("../images/about-bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px 0;
    transition: background-image 1s ease-in-out, background-size 0.5s, filter 0.5s;
    position: relative;
}

.about.change-bg {
    background-image: url("../images/about-bg-2.jpg");
    /* New background image */
}

.about__title {
    font-size: 23px;
    font-weight: 700;
    color: #003362;
    text-align: center;
    max-width: 202px;
    margin: 0 auto;
    text-align: left;
}

.about__title .ml {
    margin-left: 8px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.about__text {
    font-size: 18px;
    color: #003362;
    line-height: 150%;
}

.about__content-img {
    width: 100%;
    max-width: 65%;
    transform: rotate(-120deg);
}

.about__img-logo {
    display: none;
}

@media(min-width: 1024px) {
    .about {
        min-height: 100vh;
        padding-bottom: 33px;
    }

    .about__title {
        font-size: 60px;
        max-width: 100%;
        text-align: center;
        margin-top: 270px;
    }

    .about__title .ml {
        margin-left: 0;
    }

    .about__content-img {
        width: auto;
        max-height: 60vh;
        transform: none;
        margin-top: -65px;
    }

    .about__text {
        max-width: 500px;
        width: 100%;
        font-size: 18px;
    }

    .about__content {
        flex-direction: row;
        align-items: end;
        gap: 70px;
        justify-content: center;
        margin-top: 0;
    }

    .about__content .about__text:first-child {
        transform: translateY(-100px);
    }

    .about__content .about__text:last-child {
        transform: translateY(-250px);
    }

    .about__img-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
}

@media(min-width: 1360px) {
    .about__text {
        max-width: 500px;
        width: 100%;
        font-size: 26px;
    }
}

@media(min-width: 1450px) {
    .about__title {
        font-size: 86px;
        font-weight: 700;
    }
}


@media (min-width: 1024px) and (max-height: 700px) {
    .about__title {
        margin-top: 150px;
    }

    .about__content {
        margin-top: 20px;
    }

    .about__content .about__text:first-child {
        transform: translateY(0);
    }

    .about__content .about__text:last-child {
        transform: translateY(-120px);
    }
}