.card {
    position: fixed;
    top: 0;
    bottom: 0;
    left: unset;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    padding: 0 20px;
    overflow-y: auto;
    right: -100vw;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card.active {
    right: 0;
}

.card__logo {
    max-width: 155px;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 30px;
    position: absolute;
}

.card-sausages .card__logo {
    top: 0;
}

.card__product {
    margin-top: 18px;
    width: 100%;
    object-fit: contain;
    max-height: 326px;
}

.card .swiper {
    display: none;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 23px;
}

.card__weight {
    max-width: 142px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    gap: 10px;
}

.card__weight-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    max-height: 33px;
}

.card__weight-texts {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
    transform: translateY(5px);
    position: relative;
}

.card__weight-texts::after {
    content: "/";
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 15px;
    font-weight: 400;
    color: #C49161;
}

.card__weight-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 157%;
    color: #C49161;
}

.card__info-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #003362;
}

.card__info-text span {
    font-weight: 500;
}

.card__close {
    color: #000;
    bottom: 40px;
    position: absolute;
}

@media(min-width: 1024px) {
    .card__close {
        display: none;
    }

    .card {
        position: absolute;
        max-width: 573px;
        top: 0;
        height: 100vh;
        width: 100%;
        left: unset;
        padding: 50px 36px;
    }

    .card.active {
        right: 0;
    }

    .card__product {
        margin-top: 30px;
        max-height: 330px;
        max-width: 445px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .card__weight {
        max-width: 120px;
    }

    .card__weight-img {
        max-height: unset;
    }

    .card__weight-texts {
        flex-direction: column;
        gap: 0;
        transform: translateY(-10px);
        left: 11px;
    }

    .card__weight-texts::after {
        content: "";
        left: 50%;
        right: 0;
        transform: translateX(-50%) translateY(-50%);
        width: 65px;
        height: 1px;
        background-color: #C49161;
    }

    .card__weight-text {
        font-size: 22px;
        font-weight: 700;
        line-height: 157%;
    }

    .card__info-text {
        font-size: 22px;
        line-height: 157%;
    }

    .card__logo {
      top: 43px;
    }
}

@media(min-width: 1500px) {
    .card__product {
        max-height: 530px;
    }
}

@media(max-width: 1024px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card__info {
        margin-top: 0;
    }

}

.card-slider .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}