.contacts {
    padding: 34px 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../images/contacts/contacts-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.contacts__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: start;
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 6.5px 14px;
    position: relative;
    overflow: visible;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
}

.contacts__item:hover {
    border: 1px solid #d7a461;
}

.contacts__item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    width: 27px;
    height: 25px;
    transform: translateY(-1px);
    opacity: 0;
    background-repeat: no-repeat;
}

.contacts__item:hover::before {
    opacity: 1;
}

.contacts__item.left::before {
    background-image: url("../images/contacts/right-arr.svg");
    right: -26px;
}

.contacts__item.right::before {
    background-image: url("../images/contacts/left-arr.svg");
    left: -26px;
}

.contacts__item::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 2px;
    background-color: #F3EFEC;
    opacity: 0.98;
    z-index: 10;
    backdrop-filter: blur(17px);
    box-shadow: 0 0 10px #F3EFEC;
    display: none;
    transition: all 0.2s ease;
}

.contacts__item:hover::after {
    display: block;
}

.contacts__item.left::after {
    right: 0;
    transform: translateX(1px);
}

.contacts__item.right::after {
    left: 0;
    transform: translateX(-1px);
}



.contacts__item-img {
    max-width: 70px;
    height: auto;
}

.contacts__item-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #003362;
}

.contacts__item-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #d7a461;
}

.contacts__item-link {
    font-size: 14px;
    font-weight: 500;
}

.contacts__item-link.bold {
    font-weight: 700;
}

.contacts__item-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
}

.contacts-slider-wrapper {
    display: none;
}

.contacts__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__bg {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.9); */
    z-index: 0;
}

@media(max-width: 1024px) {
    .contacts__item::after {
        display: none;
    }
}

@media(min-width: 1024px) {
    .contacts {
        padding: 130px 0;
    }

    .contacts__inner {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contacs__item-text {
        font-size: 15px;
    }
}

@media(min-width: 1024px) {
    .contacts__inner {
        justify-content: space-between;
    }

    .contacts-slider-wrapper {
        display: block;
        width: 280px;
        min-width: 280px;
        background-image: url("../images/contacts/phone.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        height: 500px
    }

    .contacts-slider {
        height: 100% !important;
        width: 100%;
        position: absolute !important;
        top: 1%;
        left: -4.3%;
    }

    .contacts-slider .swiper-slide {
        width: 102%;
        height: 95%;
        top: -33px;
        left: -12px;
    }

    .contacts-slider img {
        width: 113%;
        height: 116%;
        object-fit: contain;
    }
}

@media(min-width: 1280px) {
    .contacts-slider-wrapper {
        width: 400px;
        height: 400px;
    }

    .contacts-slider .swiper-slide {
        width: 98% !important;
        height: 97%;
        left: -4.5%;
    }
}

@media(min-width: 1400px) {
    .contacts__item {
        padding: 34px;
    }

    .contacts__item-title {
        font-size: 24px;
    }

    .contacts__item-link {
        font-size: 16px;
    }
}

@media(min-width: 1500px) {
    .contacts-slider .swiper-slide {
        left: -17px;
    }
}

@media(min-width: 1680px) {
    /* .contacts-slider-wrapper {
        background-size: cover;
        max-height: 100%;
        min-height: 783px;
    } */

    /* .contacts-slider {
        width: 99% !important;
        height: 100% !important;
        top: 0;
        left: 0;
    } */

    /* .contacts-slider img {
        object-fit: cover;
    }

    .contacts-slider .swiper-slide {
        height: 100%;
    } */

    .contacts-slider-wrapper {
        width: 612px;
        min-width: 612px;
        max-width: 612px;
        height: 783px;
        min-height: 783px;
    }

    .contacts-slider .swiper-slide {
        top: -57px;
        left: -19px;
        height: 96%;
        width: 106%;
        scale: 1.01;
    }

    .contacts-slider img {
        width: 111%;
        height: 117%;
    }


    .contacts__item {
        padding: 44px;

    }

    .contacts__item-title {
        font-size: 30px;
    }

    .contacts__item-link {
        font-size: 20px;
    }

    .contacts__item-img {
        max-width: 108px;
    }

    .contacts__item-img {
        width: 106px;
        min-width: 106px;
        height: auto;
    }

    .contacts-slider {
        left: -1.8%;
        width: 101%;
    }
}

@media(max-width: 1024px) {
    .contacts__item:hover {
        border: 0.5px solid #d7a461;
    }

    .contacts__inner {
        margin: 0 10px;
    }

    .contacts__item-title {
        font-size: 20px;
        font-weight: 400;
    }

    .contacts__item-link {
        font-size: 14px;
        font-weight: 700;
    }

    .contacts__item-text {
        font-size: 12px;
        font-weight: 500;
    }

    .contacts__item:hover::after {
        display: none;
    }

    .contacts__item:hover::before {
        display: none;
    }
}

.contacts-slider .swiper-slide-shadow {
    display: none;
}

.contacts-slider .swiper-slide-next {
    opacity: 0;
}

.contacts__images {
    position: absolute;
    width: 112%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    left: -11px;
}

.contacts-slider-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media(min-width: 1280px) {
    .contacts__images {
        width: 113%;
        left: -4.5%;
    }
}

@media(min-width: 1320px) {
    .contacts__images {
        width: 350px;
        left: 50%;
        transform: translateY(-50%) translateX(-48%);
    }
}

@media(min-width: 1850px) {
    .contacts__images {
        width: 112%;
    }
}