* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Craftwork Grotesk", sans-serif;
}

body {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: calc(1820px + 28px);
  padding: 0 14px;
  margin: 0 auto;
  width: 100%;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
.scrollbar-none::-webkit-scrollbar {
  width: 0;
}

.link {
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  text-decoration: underline;
  width: max-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 28px;
}

.link svg {
  transform: translateY(3px);
  transition: all 0.2s ease;
}

.link:hover svg {
  transform: translateX(10px) translateY(3px);
}

.mob-none {
  display: none !important;
}

.mob-inline-none {
  display: none !important;
}

.desktop-none {
  display: block !important;
}

.relative {
  position: relative;
}

@media(min-width: 768px) {
  .link {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .mob-none {
    display: block !important;
  }

  .mob-inline-none {
    display: inline-block !important;
  }

  .desktop-none {
    display: none !important;
  }

  .link {
    font-size: 22px;
  }
}

.card-slider .swiper {
  display: block !important;
}

.card-slider .swiper-slide {
  width: 100% !important;
}

