.running-lines {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 10;
    min-height: 195px;
}

@media(min-width: 1024px) {
    .running-lines {
        margin-bottom: -10px;
        min-height: 326px;
    }
}

.running-line {
    font-size: 42px;
    font-weight: 500;
    min-height: 57px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.running-line__content {
    white-space: nowrap;
    display: inline-block;
}

.rail {
    display: flex;
    gap: 50px;
}

.rail h4 {
    will-change: transform;
}

.running-line:first-child {
    background-color: #E00428;
    color: #D7A461;
}

.running-line:nth-child(2) {
    background-color: #D7A461;
    color: #012531;
    transform: rotate(-2deg);
    margin-top: 25px;
    z-index: 2;
}

.running-line:last-child {
    background-color: #012531;
    color: #D7A461;
    transform: rotate(2deg);
    margin-top: 0;
    z-index: 1;
}

@media (min-width: 1024px) {
    .running-line {
        min-height: 97px;
        font-size: 71px;
        font-weight: 500;
    }

    .running-line:nth-child(2) {
        order: 3;
        transform: rotate(0.5deg);
        margin-top: 10px;
        z-index: 1;
    }

    .running-line:last-child {
        order: 2;
        transform: rotate(-2deg);
        margin-top: 20px;
        z-index: 2;
    }

    .rail {
        gap: 70px;
    }
}

.marquee {
    display: flex;
    overflow: hidden;
}

.marquee-item {
    display: flex;
}

.marquee-item h4 {
    padding: 0 20px;
    font-weight: 500;
}

.marquee .circle {
    display: flex;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    min-width: 3px;
    margin: 0;
    margin-top: 24px;
    padding: 0;
}

.running-line:first-child .circle {
    background-color: #D7A461;
}

.running-line:nth-child(2) .circle {
    background-color: #012531;
}

.running-line:last-child .circle {
    background-color: #D7A461;
}

@media(min-width: 1024px) {
    .marquee-item h4 {
        padding: 0 35px;
    }

    .marquee .circle {
        width: 5px;
        height: 5px;
        min-width: 5px;
        margin: 0;
        margin-top: 40px;
        padding: 0;
    }
}